* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #555;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
.row {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/resources/css/img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* text-align: center; */
}
h1 {
  margin: 0;
}
.hero-text-box {
  position: relative;
  width: 960px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
