* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #555;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
.row {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/resources/css/img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* text-align: center; */
}
h1 {
  margin: 0 0 20px 0;
  color: #eee;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}
.hero-text-box {
  position: relative;
  width: 960px;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 200ms, border 200ms, color 200ms;
}
.btn-full:link,
.btn-full:visited {
  color: #eee;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  margin-right: 1rem;
}
.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
  border: 1px solid #e67e22;
}
.btn-full:hover,
.btn-full:active,
.btn-ghost:hover,
.btn-ghost:active {
  color: #eee;
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}
