* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #555;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
